controller_names:
  - arm_controller
  - gripper_controller

arm_controller:
  action_ns: follow_joint_trajectory
  type: FollowJointTrajectory
  default: true
  joints:
    - fr3_joint1
    - fr3_joint2
    - fr3_joint3
    - fr3_joint4
    - fr3_joint5
    - fr3_joint6
    - fr3_joint7

gripper_controller:
    action_ns: gripper_cmd
    type: GripperCommand
    default: true
    joints:
      - fr3_finger_joint1